*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
  
  }
  
  body{
    margin:0;
  }
  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:rgba(192, 192, 192, 0.8);
   
  font-family: 'Poppins', sans-serif;
  }
  .logo{
    letter-spacing: 2px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  
  }
  .nav-links{
    display: flex;
  
    justify-content: space-around; 
    width: 70%;
   
  }
  
  .nav-links li{
    list-style: none;
  }
  
  .nav-links a{
    color: rgb(2, 0, 145);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 12px;
  
  }
  
  .lines{
    display: none;
  cursor: pointer;
  }
  .lines div {
    width: 25px;
    height: 3px;
    background-color: olive;
    margin: 5px;
  }
  @media screen and (max-width:800px){
    .nav-links{
      display: none;
      width: 60;
    
    }
  }
  
  @media screen and (max-width:768px){
    body{
      overflow: hidden;
  
    }
  .nav-links{
  position: absolute;
  right: 0px;
  height: 92vh;
  top: 8vh;
  background-color:rgba(192, 192, 192, 0.8);
  display: flex;
  flex-direction: column;
  
  align-items: center;
  
  width: 30%;
  transform: translateX(120%);
  
  transition: transform 0.5 ease in;
     }
  
     .nav-links li{
       opacity: 4;
      
     }
     
     .lines{
       display: block;
     }
  
  }
  .nav-active{
    transform: translateX(0%);
    
  }
  
  body{
  
    background-image: url("santamaria.jpg");
  
    background-size:  cover;
    background-position: center;
    background-repeat: no-repeat;
  
    height: 100vh;
   
  
  
  
  }
  .card{
   
      background-color: rgba(70, 122, 189, 0.8);
      padding: 5px;
      text-align: left;
      margin: 8px;
      margin-top: 1%;
      color: aliceblue;
      border-radius: 20px;
  
  }
  
  .dropdown {
      position: relative;
      display: inline-block;
      display: flex;
      flex-direction: column;
      color: white;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.9);
      min-width: 200px;
      box-shadow: 0px 8px 16px 0px rgba(218, 240, 255, 0.2);
      padding: 20px 18px;
      z-index: 1;
      text-decoration: none;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    
    }
    a {
      text-decoration: none;
      letter-spacing: 1px;
      color: rgb(0, 0, 0);
    
    }
    .popup {
      position: relative;
      display: inline-block;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    /* The actual popup */
    .popup .popuptext {
      visibility: hidden;
      width: 40vh;
      right: 10px;
      background-color:rgba(71, 71, 255, 0.8);
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 20px 18px;
      position: absolute;
      z-index: 1;
      
    }
    
    /* Popup arrow */
    .popup .popuptext::after {
      content: "";
      position: absolute;
     
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }
    
    /* Toggle this class - hide and show the popup */
    .popup .show {
      visibility: visible;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
    }
    
    /* Add animation (fade in the popup) */
    @-webkit-keyframes fadeIn {
      from {opacity: 0;} 
      to {opacity: 1;}
    }
    
    @keyframes fadeIn {
      from {opacity: 0;}
      to {opacity:1 ;}
    }