*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
  
  }
 
  #imgaea{
    margin-top: 1%;
    margin: 3%;
	box-shadow: 0 5px 15px rgba(0,0,0,0.1);


  }

  .card-text{
      margin-left: 35%;
      margin-top: 40%;
      width: 60%;
      color: #ffffffc7;
     font-size: 90%;
     background-color: rgba(70, 122, 189, 0.8);
     border-radius: 20px;
     padding: 1%;
  }
 
